body {
    font-family: 'Rubik';
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {  
    font-family: 'Rubik';
    font-weight: 900;
}

/* Headings */

.big-heading {
    font-family: 'Rubik';  
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
    color: #212121;
}

/* Title and Navbar Section */

.download-btn {
    margin: 5% 3% 5% 0;
}

.container-fluid {
    padding: 3% 15% 5%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 900;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Rubik';
    font-size: 1.2rem;
    font-weight: 300;
}

.title-image {
    width: 300px;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

#title {
    text-align: left;
}

/* Features Section */

#features {
    margin: auto;
    padding: 5% 3%;
    position: relative;
}

.feature.title {
    font-size: 1.7rem;
}

.features-icon {
    padding: 5% 0;
    color: #ff4c68;
    font-size: 3rem;
}

.features-icon:hover {
    color: #f7b2bd;
}

.box {
    margin: auto;
}

.box p{
    font-size: 1.5rem;
    font-weight: 300;
}

/* Testimonials Section */

#testimonials {
    line-height: 2;
}

.carousel-item {
    padding: 7% 13%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

#press {
    line-height: 2;
    padding-bottom: 7%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 0;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 2.5rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

.btn-pricing {
    width: 100%;
}

/* CTA Section */

#cta {
    padding: 5% 17%;
}

/* Footer Section */

#footer {
    color: #212121;
    line-height: 2;
    padding: 7% 13%;
}

.footer-icon {
    margin: 5px 7px 10px;
}

@media (max-width: 1192px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}